{% extends "base.html" %}

{% load static %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./home.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">



                        <!-- Side bar search -->

                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>

                        <!-- Side bar categories -->
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><a href="#">Clothing </a></li>
                                                    <li><a href="#">Shoes </a></li>
                                                    <li><a href="#">Accessories </a></li>   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!--Shop page started from here -->
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Products</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--products listing started from here (make it dynamic)-->
                    <section class="product spad">
                        <div class="container">
                            <div class="row product__filter">
                                {% for product in products %}

                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item {% if product.on_sale %} sale {% endif %}">
                                            <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                                                {% if product.on_sale %}
                                                    <span class="label">Sale</span>
                                                {% endif %}
                                                <ul class="product__hover">
                                                    <li><a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a></li>
                                                    <li><a href="#"><img src="{% static 'img/icon/compare.png' %}" alt=""> <span>Compare</span></a></li>
                                                    <li><a href="#"><img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6>{{ product.name }}</h6>
                                                <a href="{% url 'product_detail' product.id %}" class="add-cart">View Detail</a>
                                                <div class="rating">
                                                    {% for _ in product.rating %}
                                                        <i class="fa fa-star"></i>
                                                    {% endfor %}
                                                    {% for _ in product.unrated_stars %}
                                                        <i class="fa fa-star-o"></i>
                                                    {% endfor %}
                                                </div>
                                                <h5>${{ product.price }}</h5>
                                                <div class="product__color__select">
                                                    {% for color in product.colors %}
                                                        <label for="pc-{{ color.id }}">
                                                            <input type="radio" id="pc-{{ color.id }}">
                                                        </label>
                                                        <label class="{% if color.is_active %} active {% endif %} {{ color.name }}" for="pc-{{ color.id }}">
                                                            <input type="radio" id="pc-{{ color.id }}">
                                                        </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

{% endblock %}
